.git
.gitignore
docker-compose.yml
Dockerfile
.docker
.dockerignore
**/__pycache__/
.env.example
.venv/
venv/
.vscode/
node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.db
*.sqlite3